<div class="row card-list">
    <% data.seals.map(seal => {  %>
      <div class="col m4 s12 card-item" id='<%= seal.id %>'>
          <div class="card">
            <div class="card-image seal-image">
              <img src='<%= seal.image %>'>
              <span class="card-title"><%= seal.name %></span>
            </div>
            <div class="card-content">
              <p><%= seal.about %></p>
            </div>
            <div class="card-action">
              <a class="blue-text" href="#">Узнать больше</a>
            </div>
          </div>
        </div> 
    <% }) %>  
  </div>